<!DOCTYPE html>
<html>
<head>
	<title>Causas</title>
	 <%- include ('partials/head.html')%>
</head>
<body>
	<%- include ('partials/navigation.html')%>
	<p>
			Los coronavirus se transmiten de forma limitada entre humanos, pero hasta la fecha se desconoce el origen de estos virus. En todo caso, se sabe que ciertos animales, como los murciélagos, actúan como reservorios.
	</p>
	<p>
		Como en otros virus que causan neumonía, cuando se transmiten en humanos, el contagio se produce generalmente por vía respiratoria, a través de las gotitas respiratorias que las personas producen cuando tosen, estornudan o al habla
	
	</p>
</body>
</html>