<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title><%= title %></title>
  <%- include ('partials/head.html')%>
  <link rel="stylesheet" type="text/css" href="css/inicio.css">
</head>
<body>
 <%- include ('partials/navigation.html')%>
 
  <section class="main">
    <section class="articles">
    <article>
      <h2>Coronavirus</h2>
      <p>Los <span><a href="#" class="green">coronavirus</a></span> son una familia de virus que se descubrió en la década de los 60 pero cuyo origen es todavía desconocido. Sus diferentes tipos provocan diferentes enfermedades, desde un resfriado hasta un síndrome respiratorio grave (una forma grave de neumonía)</p>
      <p>
        Gran parte de los coronavirus no son peligrosos y se pueden tratar de forma eficaz. De hecho, la mayoría de las personas contraen en algún momento de su vida un coronavirus, generalmente durante su infancia. 
      </p>
      <p>
        El coronavirus debe su nombre al aspecto que presenta, ya que es muy parecido a una corona o un halo. Se trata de un tipo de virus presente tanto en humanos como en animales.
      </p>
    </article>
   
    </section>  
    <aside>
      <h3>Contenido Secundario</h3>
      <p>
        En el hipotético caso de que algún infectado llegase a España con síntomas, parece que por ahora la transmisión de persona a persona es limitada", apunta Javier Arranz, portavoz del Grupo de Enfermedades Infecciosas de la Sociedad Española de Medicina de Familia y comunitaria (Semfyc).
      </p>
    </aside>
   </section>
   <footer><!--Pie de pagina-->
    <p>Pablo Ezequiel Vivas</p>
   </footer>
</body>
</html>